
<ion-header translucent>
      <ion-toolbar>
        <ion-title>Create Account</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <form [formGroup]="form" (submit)="onSubmit()">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

          <ion-item>
            <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Insert Name" formControlName="nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Surname</ion-label>
            <ion-input type="text" placeholder="Insert Surname" formControlName="cognome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Age</ion-label>
            <ion-input type="text" placeholder="Insert Age" formControlName="age"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Height</ion-label>
            <ion-input type="text" placeholder="Insert Height" formControlName="altezza"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Weight</ion-label>
            <ion-input type="text" placeholder="Insert Weight" formControlName="peso"></ion-input>
          </ion-item>

        </ion-list>

        <ion-button expand="block" type="submit" [disabled]="form.invalid" class="ion-no-margin">
          Create profile
        </ion-button>
        <ion-button expand="block" class="ion-no-margin" size="small" fill="clear" [routerLink]="['/home']">
          Back to Homepage
        </ion-button>
      </form>
     </ion-content>
