<ion-header translucent>
      <ion-toolbar>
        <ion-title>{{isUpdate? "Modify" : "Create"}} Appointment</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
      <form [formGroup]="form" (submit)="onSubmit()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">

          <ion-item>
            <ion-label position="stacked">Title <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" placeholder="Insert Title" required formControlName="title"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" placeholder="Insert Description" formControlName="desc"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Place</ion-label>
            <ion-input type="text" placeholder="Insert Place" formControlName="place"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Date</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY HH:mm" max="2099" min="2021" placeholder="Select Date" formControlName="date"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Profile <ion-text color="danger">*</ion-text></ion-label>
            <ion-select placeholder="Select Profile" formControlName="id_profiles" required>
              <ion-select-option *ngFor="let item of profile" value="{{item.id_profiles}}">{{item.nome}}{{item.cognome}}</ion-select-option>

            </ion-select>
          </ion-item>
        
        </ion-list>

        <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="form.invalid">Save Appointment</ion-button>
        <ion-button expand="block" class="ion-no-margin" size="small" fill="clear" (click)="back()">Cancel</ion-button>
      </form>
     </ion-content>
