<ion-app>

  <ion-menu side= "start" content-id="menu" name="Menu">
    <ion-content>
          <ion-list>
            <ion-menu-toggle>
              <!-- Quando viene aggiunto un profilo, viene inserito qui -->
              <ion-item *ngFor="let item of profile">
                <ion-avatar slot="start" (click)="updateProf(item)">
                  <div class="avatar">
                    {{item.nome.substring(0, 1).toUpperCase()}}{{item.cognome.substring(0, 1).toUpperCase()}}
                  </div>
                </ion-avatar>

                <ion-button (click)="presentAlertConfirm(id_profiles)" slot="end">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
                {{item.nome}} {{item.cognome}}
              </ion-item>

              <ion-item (click)="addProfile()">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label>Add new profile</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
    </ion-content>
   <ion-footer>
    <div class="ion-text-end">
      <ion-button (click)=logoutClicked() href="register/"><ion-icon name="log-out-outline"></ion-icon> Logout</ion-button>
    </div>
   </ion-footer>
  </ion-menu>

  <ion-router-outlet id="menu">
  </ion-router-outlet>

    
      <ion-header class="ion-text-center">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div id="logo"><img src="\assets\icon\clipart.png" width="25" height="27" style="display:inline-block"></div>
          <ion-title>  Medical Reminder</ion-title>
        </ion-toolbar>
      </ion-header>
    
</ion-app>
