<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="new"  *ngIf="!profile || profile.length===0 else conditionFalse">
    <strong>Are you a new user?</strong>
    <p id="start">Start by adding a new profile!</p>
  <p>
    <ion-fab horizontal="center">
      <ion-fab-button (click)="addProfile()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </p>
  </div>

<ng-template #conditionFalse>
  <div class="ion-text-center">
  <ion-list>

    <ion-list-header>
    <strong>Upcoming appointments:</strong>
    </ion-list-header>

      <ion-item-sliding *ngFor="let item of appoints">
        <ion-item-options side="end">
         <ion-item-option color="danger" (click)="presentAlertConfirm(item.id_appoint)">DELETE</ion-item-option>
        </ion-item-options>

        <ion-item (click)="updateApp(item)">
          <ion-avatar slot="start">
            
            <div class="avatar">
              <div *ngFor="let prof of profile">
                <div *ngIf= "item.id_profiles==prof.id_profiles">
                  {{prof.nome.substring(0, 1).toUpperCase()}}{{prof.cognome.substring(0, 1).toUpperCase()}}
                </div>
              </div>
            </div>
          </ion-avatar>
          <ion-label>
            <h2>{{item.titolo}}</h2>
            <h3>{{item.descrizione}}</h3>
            <h4>{{item.date |  date:"MM/dd/yy hh:mm"}}</h4>
          </ion-label>
        </ion-item>
      </ion-item-sliding>

        <ion-item lines="none">
          <br><br><br><br><br><br>
          <ion-fab horizontal="center">
            <ion-fab-button (click)="addAppoint()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

        </ion-item>

  </ion-list>
  </div>
</ng-template>
</ion-content>
